@use '../node_modules/midt/background-color';
@use '../node_modules/midt/border';
@use '../node_modules/midt/color';
@use '../node_modules/midt/elevation';
@use '../node_modules/midt/font';
@use '../node_modules/midt/icons';
@use '../node_modules/midt/margin';
@use '../node_modules/midt/opacity';
@use '../node_modules/midt/padding';
@use '../node_modules/midt/transitions';
@use '../node_modules/midt/z-index';
@use '../node_modules/midt/build/scss/variables' as vars;

.front-gradient {
  background-image: linear-gradient(to bottom right, vars.$color-white-base, vars.$color-green-10);

.front {
  @include color.green(60);}

svg.mapspeople-logo path {
  fill: vars.$color-green-70;}

.border {
  border-color: vars.$color-green-40;}

.mi-sdk-button {
  @include elevation.elevation(medium);
  @include background-color.white(white);}

.mi-sdk-button span {
  @include color.black(base);
  @include opacity.opacity(x-large);}

@media (prefers-color-scheme: dark) {
  .front-gradient {
    background-image: linear-gradient(to bottom, vars.$color-green-70, vars.$color-green-100);
    @include color.white(base)}

  svg.mapspeople-logo path {
    fill: vars.$color-white-base;}

  .front {
    @include color.white(base)}

  .border {
    @include border.white(base);}

  .mi-sdk-button {
    @include elevation.elevation(medium);}
}

main {
    @include margin.horizontal(xxxx-large);
    @include color.green(80);}
}

section.hero {
    @include padding.bottom(xxx-large);

    h1 {
        font-family: Raleway;
        @include font.size(xxxx-large);
        @include font.leading(xxxx-large);
        @include font.weight(small);
    }

    h2 {
        font-style: italic;
        @include font.size(x-large);
        @include font.leading(xx-large);
        @include margin.bottom(xxx-large);
        @include font.weight(small);
    }

    a {
        @include font.size(x-large);
        @include border.style(none);
        @include border.radius(medium);
        @include padding.horizontal(large);
        @include padding.vertical(small);
        @include margin.right(x-large);
        @include margin.bottom(x-large);
        @include color.black(base);
        @include background-color.white(base);
        @include elevation.elevation(medium);
        display: inline-flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        &:hover {
            @include background-color.gray(10);
        }
        &:active {
            @include background-color.gray(20);
        }
    }
}
